@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&family=Work+Sans:wght@400;500;700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

$main-orange: #FFC178;
$main-white: #ffffff;
$gray: #707070;